
:root {
    --second-text-color:#2E2F42;
    --first-text-color: #434455; 
    --first-background-color: #ffffff;
    --secong-background-color: #2E2F42;
    --accent : #4D5AE5;
    --footer-text : #E7E9FC;
}

body {
    background-color: var(--first-background-color);
    color: var(--first-text-color) ;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.logo {
    color: var(--second-text-color);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.accent {
    color: var(--accent);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
}

.header-link,
.menu-link,
.portfolio-menu-link,
.team-soc-link {
    text-decoration: none;
}

.header-link {
font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--first-text-color);
}

.header-link:hover,
.header-link:focus {
color: #4D5AE5;
}

.header > .container {
    display: flex;
}

.header-logo{
    margin-right: 76px;
}

.menu-nav {
    display: flex;
    margin-right: auto;
}

.menu-list {
    display: flex;
    gap: 40px;
}

.header-list {
    display: flex;
    gap: 40px;

}

.menu-link {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--second-text-color);
}

.menu-link:hover,
.menu-link:focus {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    color: #4D5AE5;
}

.menu-item:active {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    color: #4D5AE5;
    
}


.header-item {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    color: var(--first-text-color);
}

.hero {
    background: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
}

.overlay {
    max-width: 1440px;
    background-image: linear-gradient(to right, 
    rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)),
    url("../imges/people-office.jpg");
    margin-left: auto;
    margin-right: auto;
}
 
.hero .container {
    text-align: center;
}

.hero-name {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 48px;
margin-left: auto;
margin-right: auto;
text-align: center;
max-width: 537px;
}


.btn {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.04em;
color: #FFFFFF;
background-color: #4D5AE5;
cursor: pointer;

border-radius: 4px;
}


.hero-btn {
min-width: 170px;
height: 56px;
padding: 12px 24px;
border: none;
}

.portfolio-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.portfolio-btn {
    display: block;
    margin: 0 auto;
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
}

.text  {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--first-text-color);
}

.skills {
    padding-top: 120px;
}

.skills-item-title {
font-weight: 700;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--second-text-color);
margin-bottom: 8px;
}

.skills-list {
    display: flex;
    gap: 24px;
}

.icon-wrap {
display: flex;
justify-content: center;
align-items: center;
width: 264px;
height: 112px;
background-color: #F4F4FD;
border-radius: 4px;
margin-bottom: 8px;
}

.skills-item {
    flex-basis: calc((100% - 72px) / 4);
}

.skills-list,
.header-list,
.menu-list,
.descr-list,
.team-list,
.portfolio-list,
.portfolio-menu-list,
.team-soc-list,
.customers-list,
.soc-madia-list {
list-style-type: none;
}

.descr-list {
    display: flex;
    gap: 24px;
}

.descr-item {
    width: calc((100% - 48px) / 3);
}

.descr-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: var(--second-text-color);
margin-bottom: 72px;
text-align: center;

}

.team {
    background-color: #F4F4FD;
}

.team-list {
display: flex;
gap: 24px;
}

.team-item {
    width: calc((100% - 72px) / 4);
    text-align: center;
}

.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: var(--second-text-color);
margin-bottom: 72px;
text-align: center;
}

.team-item-title {
font-weight: 700;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--second-text-color);
}

.team-item {
    background-color: #ffffff;
}

.team-item .text {
    margin-bottom: 8px;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-link {
width: 100%;
height: 100%;
background-color: #4D5AE5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;

}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: #404BBF;
}

.customers-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    text-align: center;
    margin-bottom: 72px;
}
    
.customers {
    padding-top: 130px;
    padding-bottom: 120px;
}
    
.customers-list {
    display: flex;
    gap: 24px;
}

.customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
}

.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.customers-icon {
    fill: #8e8f99;
}

.customers-link:hover,
.customers-link:focus {
    border-color: #404BBF;
}   

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
    fill: #404BBF;
}

.portfolio-menu-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.footer .container {
    display: flex;
}

.footer-wrap .logo {
    color: #F4F4FD;
}

.footer {
    background-color: var(--secong-background-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--footer-text);
margin-top: 16px;
max-width: 264px;
}

.soc-madia-wrap {
    max-width: 208px;
    max-height: 80px;
    margin-left: 120px;
}

.soc-madia-title {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;
}

.soc-madia-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.soc-madia-item {
width: 40px;
height: 40px;
}

.soc-madia-link {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.soc-madia-icon {
    fill: #8e8f99;
}

.soc-madia-link:hover,
.soc-madia-link:focus {
    background-color: #31D0AA;
}

.portfolio-list .btn {
    color: var(--accent);
    background-color: #F4F4FD;
}

.portfolio-list .btn:hover,
.portfolio-list .btn:focus {
color: #FFFFFF;
background-color: #4D5AE5;
border: none;
}

.portfolio-list {
    margin-bottom: 72px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-menu-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-menu-item {
 width: calc((100% - 48px) / 3);
 display: flex;
}

.portfolio-menu-link > .card-wrap {
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
}

.card-wrap {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}

.team-item-wrap {
    padding-top: 32px;
    padding-bottom: 32px;
}

.portfolio-menu-title,
.team-item-title {
    margin-bottom: 8px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

