
:root {
    --second-text-color:#2E2F42;
    --first-text-color: #434455; 
    --first-background-color: #ffffff;
    --secong-background-color: #2E2F42;
    --accent : #4D5AE5;
    --footer-text : #E7E9FC;
}

body {
    background-color: var(--first-background-color);
    color: var(--first-text-color) ;
    font-family: 'Roboto', sans-serif;
}

.no-scroll {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.skills-list,
.header-list,
.menu-list,
.descr-list,
.team-list,
.portfolio-list,
.portfolio-menu-list,
.team-soc-list,
.customers-list,
.soc-madia-list,
.mob-menu-list,
.mob-menu-bottom-list,
.mob-menu-soc-list {
list-style-type: none;
}

.header-link,
.menu-link,
.portfolio-menu-link,
.team-soc-link,
.mob-menu-link,
.mob-menu-bottom-link,
.mob-menu-mail,
.mob-menu-tel {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    max-width: 428px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}


/* ----------Header-------- */
.logo {
    color: var(--second-text-color);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.accent {
    color: var(--accent);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
}

.header-link {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.02em;
color: var(--first-text-color);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
color: #404BBF;
}

.header > .container {
    display: flex;
}

.header-logo{
    margin-right: 76px;
}

.menu-nav {
    display: flex;
    margin-right: auto;
}

.menu-list, .header-list {
    display: none;
}

/* ----------mob-menu-------- */

.menu-open {
    width: 32px;
    height: 22px;
    padding: 0;
    background-color: transparent;
    border: none;
}

.menu-close {
width: 24px;
height: 24px;
border-radius: 50%;
align-items: center;
justify-content: center;
background-color: #E7E9FC;
border-color: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-open-icon {
    stroke: #2E2F42;
}

.mob-menu {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 40px;

}

.mob-menu > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }

  .menu-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 16px;
  }

  .mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
  }

.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    color: var(--second-text-color);
}

.mob-menu-list {
   margin-bottom: 40px;
}

.mob-menu-bottom-list {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    margin-bottom: 48px;
}
.mob-menu-mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2px;
    letter-spacing: 0.02em;
    color: #434455;
}

.mob-menu-tel {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: #4D5AE5;
}

.mob-menu-soc-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.mob-menu-soc-item {
    width: 40px;
    height: 40px;
}

.mob-menu-soc-link {
width: 100%;
height: 100%;
background-color: #4D5AE5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mob-menu-soc-link:hover,
.tmob-menu-soc-link:focus {
    background-color: #404BBF;
}

.mob-menu-link.current {
    color: #404BBF;
}

/* ----------HERO-------- */

.hero {
    background: #2E2F42;
    padding-top: 112px;
    padding-bottom: 112px;
    text-align: center;
}

.overlay {
    max-width: 1440px;
    background-image: linear-gradient(to right, 
    rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)),
    url("../imges/people-office-mob.jpg");
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, 
    rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)),
    url("../imges/people-office-mob-2x.jpg");
  }
}
 
.hero .container {
    text-align: center;
}

.hero-name {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 72px;
margin-left: auto;
margin-right: auto;
text-align: center;
max-width: 537px;
}


.btn {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.04em;
color: #FFFFFF;
background-color: #4D5AE5;
cursor: pointer;
border-radius: 4px;
}


.hero-btn {
min-width: 170px;
height: 56px;
padding: 12px 24px;
border: none;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover, 
.hero-btn:focus {
    background-color: #404BBF;
}

/* ----------SKILLS-------- */

.text  {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--first-text-color);
}

.skills {
    padding-top: 96px;
    padding-bottom: 96px;
}

.skills-item-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: var(--second-text-color);
margin-bottom: 8px;
text-align: center;
}

.skills-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.icon-wrap {
display: none;

}

.skills-item {
    width: 100%;
}

/* ----------DESCR-------- */
.descr {
    display: none;
}
/* ----------TEAM-------- */

.team {
    background-color: #F4F4FD;
}

.team-list {
display: flex;
align-items: center;
flex-direction: column;
gap: 72px;

}

.team-item {
    max-width: 264px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: var(--second-text-color);
margin-bottom: 72px;
text-align: center;
}

.team-item-title {
font-weight: 700;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--second-text-color);
}

.team-item .text {
    margin-bottom: 12px;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-link {
width: 100%;
height: 100%;
background-color: #4D5AE5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: #404BBF;
}

/* ----------CUSTOMERS-------- */

.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}

.customers-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    text-align: center;
    margin-bottom: 72px;
}
    
.customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 15px;
}

.customers-item {
    width: calc((100% - 15px) / 2);
    height: 88px;
}

.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.customers-icon {
    fill: #8e8f99;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    border-color: #404BBF;
}   

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
    fill: #404BBF;
}

/* ----------PORTFOLIO-------- */

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-menu-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-menu-item {
 width: calc((100% - 48px) / 3);
 
}

.portfolio-menu-item:hover .portfolio-menu-text,
.portfolio-menu-item:focus .portfolio-menu-text {
transform: translateY(0);
}

.portfolio-menu-link {
    display: block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-menu-link:hover,
.portfolio-menu-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-menu-text {
position: absolute;
top: 0;
font-size: 16px;
line-height: 1.5;
color: #F4F4FD;
padding: 40px 32px;
background-color: var(--accent);
height: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-menu-link > .card-wrap {
    display: block;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
}

.portfolio-menu-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-menu-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.portfolio-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.portfolio-btn {
    display: block;
    margin: 0 auto;
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    color: var(--accent);
    background-color: #F4F4FD;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ----------FOOTER-------- */

.footer .container {
    text-align: center;
}

.footer-wrap .logo {
    color: #F4F4FD;
}

.footer-wrap {
    margin-bottom: 72px;
}

.footer {
    background-color: var(--secong-background-color);
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--footer-text);
margin-top: 16px;
margin-left: auto;
margin-right: auto;
text-align: start;
max-width: 264px;
}

.soc-madia-wrap {
    max-width: 208px;
    max-height: 80px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
}

.soc-madia-title {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;
}

.soc-madia-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.soc-madia-item {
width: 40px;
height: 40px;
}

.subscribe-list{
    display: flex;
    justify-content: center;
}

.soc-madia-link {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.soc-madia-icon {
    fill: #8e8f99;
}

.soc-madia-link:hover,
.soc-madia-link:focus {
    background-color: #31D0AA;
}

/* ----------SUBSCRIBE FORM-------- */

.subscribe-wrap {
    max-width: 453px;
    max-height: 80px;
    margin-left: 0 auto;
}

.subscribe-title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
  
.subscribe-input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    width: 264px;
    height: 40px;
    padding-left: 16px;
    color: #ffffff;
    margin-bottom: 16px;
}

.subscribe-btn {
position: relative;   
gap: 16px;
width: 165px;
height: 40px;
background-color: #4D5AE5;
color: #FFFFFF;
border-radius: 4px;
border: transparent;
padding: 8px 24px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
fill: #FFFFFF;
cursor: pointer;
text-align: left;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #404BBF;
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}


.subscribe-icon {
position: absolute;
right: 24px;
top: 50%;
transform: translateY(-50%);
}

.card-wrap {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}

.team-item-wrap {
    padding-top: 32px;
    padding-bottom: 32px;
}

.portfolio-menu-title,
.team-item-title {
    margin-bottom: 8px;
}

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* -----------MODAL----------- */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 24px;
    padding-top: 72px;
    background-color: #FCFCFC;
    max-width: 408px;
    width: 100%;
    min-height: 576px;
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
   display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
 transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover ,
.modal-close:focus {
    background-color: #404BBF;
    border-color: transparent;
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
    fill: #ffffff;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.modal-input {
    height: 40px;
    width: 100%;
    padding-left: 38px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
    border-color:#4D5AE5;
}

.modal-input:hover + .input-icon,
.modal-input:focus + .input-icon {
    fill: #4D5AE5;
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.input-wrap {
position: relative;
}

.modal-field {
display: flex;
flex-direction: column;
margin-bottom: 8px;
}

.modal-field:nth-child(4) {
    margin-bottom: 16px;
}

.modal-comment {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment::placeholder {
    color: rgba(117, 117, 117, 0.5); 
}

.modal-comment:hover,
.modal-comment:focus {
    border-color:#4D5AE5;
}

.input-text {
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: #8E8F99;
margin-bottom: 4px;
}   

.submit-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    color: #FFFFFF;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
    align-content: center;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
    background-color: #404BBF;
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.check-text {
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;
color: #757575;
display: flex;
align-items: center;
}

.check-text span {
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.input-check:checked + .check-text span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.check-link {
    color: #4D5AE5;
}

